@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


*, :before, :after{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {list-style: none;}
:focus {	outline: 0;}
::-webkit-input-placeholder{text-indent: 0px;   transition: text-indent 0.3s ease;font-family: inherit;}
::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;font-family: inherit;}/* Firefox 19+ */
:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;font-family: inherit;}/* Firefox 18- */
:-ms-input-placeholder{ text-indent: 0px;   transition: text-indent 0.3s ease;font-family: inherit;}
:focus::-webkit-input-placeholder{ text-indent: -500px; transition: text-indent 0.3s ease;}
:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder{ text-indent: -500px;   transition: text-indent 0.3s ease;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label, input:not([type="checkbox"]),
input:not([type="radio"]) , button{
	-webkit-appearance:none;
	font-family: inherit;
}
label, input[type="submit"], button{cursor:pointer;}
img{border: none;}
html{font-size: 62.5%;}
html, body{height: 100%;}

body{
	background: #fff;
	font: 400 1.8rem/3rem 'Roboto', sans-serif;
	color: #000;
}
a:hover{text-decoration: none;}
p{margin-bottom: 1.8rem;}
#wrap{
	overflow: hidden;
}
input[type="text"], input[type="email"], input[type="tel"],
input[type="search"], input[type="password"], textarea{
	display: block;
	width: 100%;
	padding: 1rem 2rem;
	font-size: 1.6rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}
textarea{
	resize: none;
	height: 100px;
}
.container{
	padding: 0 15px;
	margin: 0 auto;
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.row>div{
	padding-left: 15px;
	padding-right: 15px;
}
.align-item-center{align-items: center;}
.btn{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 330px;
	max-width: 100%;
	font-size: 1.4rem;
	text-transform: uppercase;
	background: #C4161B;
	border-radius: 50px;
	padding: 1.6rem 1.5rem 1.3rem;
	color: #fff;
	transition: background 0.3s ease-out;
	letter-spacing: 0.05em;
	border: none;
}
.btn:hover, .btn:focus{
	color: #fff;
	background: #960e12;
}
.btn-block{
	display: block;
	width: 100%;
}
.form-group{margin-bottom: 15px;}
.title{
	font-weight: 400;
	font-size: 7.2rem;
	line-height: 9.6rem;
}
.title-md{
	font-size: 3.6rem;
	line-height: 4rem;
}
.text-bold{font-weight: 500;}
.img-responsive{
	max-width: 100%;
	display: block;
	height: auto;
}
.center-block{margin: 0 auto;}
.text-center{text-align: center;}
.text-grey{color: rgb(0, 0, 0, 0.5);}
.text-red{color: #c4161b;}


/* header */
header, footer{
	padding: 2rem 0 2rem;
}
header .btn, footer .btn{margin-left:auto;}
.navbar-nav{
	display: flex;
}
.navbar-nav>li>a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	background: none!important;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.05em;
	padding: 1rem 1.68rem;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{color:#C4161B}
.logo{
	transition: opacity 0.3s ease-out;
	margin-right: 8.6%;
}
.logo:hover{opacity: 0.7;}
.navbar-toggle{
	border: 1px solid #C4161B;
	padding: 9px 10px;
	border-radius: 4px;
	background: none;
	margin-left: 1.5rem;
}
.navbar-toggle .icon-bar {
    display: block;
	background: #C4161B;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar{margin-top: 4px;}
.collapse{
	display:none;
	visibility:hidden
}
.collapse.in{
	display:block;
	visibility:visible
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

/* preview */
.preview{
	padding: 25.2% 0 4.6%;
	color: #fff;
	background: #777 url(../img/bg-preview.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.preview .title{margin: 3.9rem 0;}

/* catalogue */
.catalogue{
	position: relative;
	padding: 15rem 0;
}
.catalogue-btn{margin-top: 5rem;}
.item-block{margin-bottom: 3rem;}
.item-block-image, .zoom-link{
	overflow: hidden;
	display: block;
}
.item-block-image img, .zoom-link img{
	transition: all 0.3s ease-out;
	width: 100%;
	height: auto;
	display: block;
}
.item-block:hover .item-block-image img, .zoom-link:hover img{transform: scale(1.1);}
.item-block-name{
	position: relative;
	padding: 4.3rem 3.8rem;
	display: flex;
	flex-direction: column;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-top: none;
	min-height: 15.75rem;
}
.item-block-name:before{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-width: 18px 14px;
	border-style: solid;
	border-color: transparent;
	bottom: 100%;
	left: 4rem;
	border-bottom-color:#fff;
	z-index: 2;
}
.item-block-name:first-child{
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	border-bottom: none;
	justify-content: flex-end;
}
.item-block-name:first-child:before{
	border-top-color:#fff;
	bottom: auto;
	top: 100%;
	border-bottom-color: transparent;
}

/* natural */
.natural{
	background: #777 url(../img/bg-natural.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: #fff;
    padding: 23.4% 0 23.3%;
	position: relative;
}
.natural:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 16.6%;
	margin: auto;
	background:url(../img/arrow.svg) 0 0 no-repeat;
	background-size: contain;
    height: 104px;
    width: 35px;
}

/* about */
.about{padding: 13rem 0 12.2rem;}
.about-image{margin: 2rem 0 4rem;}
.about .title{margin-bottom: 7rem;}

/* ins-section */
.ins-section{
	background: #C4161B;
	position: relative;
	color: #fff;
	padding-top: 13rem;
	margin-bottom: 20rem;
}
.ins-section:before, .ins-section:after{
	content: '';
	position: absolute;
	display: block;
}
.ins-slider{
    margin-top: 7.6rem;
    height: 16.5rem;
}
.ins-slider .zoom-link{margin: 0 15px;}
.fancybox-infobar__body{display: none;}

/* popular */
.popular{
	padding: 9.5rem 0 15.2rem;
	z-index: 1;
	position: relative;
}
.popular:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 48.8rem;
	background: #F5F5F5;
}
.popular .title{margin-bottom: 7.7rem;}

/* gallery */
.gallery{margin: 15rem 0;}
.gallery-list{margin-bottom: 8rem;}
.gallery-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	grid-gap: 30px;
}
.gallery-list img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-col{grid-column: span 2;}
.gallery-row{grid-row: span 2;}

/* products */
.products{
	margin: 10rem 0 12.8rem;
	background: #777 url(../img/bg-products.jpg) 50% 0 no-repeat;
	background-size: cover;
	color: #fff;
    padding: 25.9% 0;
}

/* contacts */
.contacts .title{margin-bottom: 3.2rem;}
.contacts-item{
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-weight: bold;
	font-size: 2.4rem;
	line-height: 3.6rem;
	padding: 4.7rem 1.5rem 4rem 8.6rem!important;
}
.contacts-item:before, .contacts-item:last-child:after{
	content: '';
	display: block;
	position: absolute;
}
.contacts-item:before, .contacts-item:last-child:after{
	left:0;
    top: 4rem;
    bottom: 3.2rem;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.contacts-item:last-child:after{
	left: auto;
	right: 0;
}
.contacts-item .i-map{
	position: absolute;
	width: 3.6rem;
	height: 3.6rem;
	background:  url(../img/i-map.svg) 0 0 no-repeat;
	background-size: contain;
    top: 4.9rem;
    left: 3rem;
}
.m-0{margin: 0;}
.map{
	position: relative;
	margin-top: 10rem;
}
.map .container{
	position: relative;
	z-index: 3;
}
.address{
	position: absolute;
    top: 5.9rem;
    right: 1.2rem;
}
.address>a{
	display: block;
	font-size: 2.4rem;
	font-weight: bold;
	color: #000;
    padding: 2.3rem 6rem 2.3rem 3.8rem;
	background: #FFFFFF;
	border: 2px solid #C4161B;
	border-radius: 50px;
	position: relative;
	text-decoration: none;
	width: 330px;
	max-width: 100%;
}
.address>a:after{
	content: '';
	display: block;
	width: 1.4rem;
	height: 0.8rem;
	background: url(../img/i-caret.svg) 0 0 no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 3.3rem;
	margin: auto;
}
.address>a[aria-expanded="true"]:after{
	transform: rotate(180deg);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
	right: 0;
    z-index: 1000;
    display: none;
    float: left;
    font-size: 1.6rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 2px solid #C4161B;
	margin-top: -2px;
}

.open>.dropdown-menu {
    display: block;
}
.dropdown-menu>li {
    display: block;
    padding: 0.5rem 2rem;
    clear: both;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
}
.dropdown-menu>li.active{
	background: #C4161B;
	color: #fff;
}
#map{
	height: 720px;
	width: 100%;
}

/* modal */

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}
.modal-open {
    overflow: hidden;
	padding-right: 17px !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%)
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0)
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}
.modal-title {
    margin-bottom: 1rem;
	font-size: 2.4rem;
	font-weight: bold;
}
.modal-body {
    position: relative;
    padding: 15px
}

/* sprites */
.sprites{
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprites.png) 0 0 no-repeat;
}

/* responsive */
.col-sm-6, .col-lg-4, .col-lg-6{width: 100%;}
@media (min-width: 576px) {
	.col-sm-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (min-width: 768px) {
	.container{width: 750px;}
	.navbar-toggle{display: none;}
	.navbar-collapse{
		display: block;
		visibility: visible;
	}
	.modal-dialog{
		width: 400px;
		margin: 3rem auto;
	}

}
@media (min-width: 992px) {
	.container{width: 970px;}
	.col-lg-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-lg-6 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.order-lg-2{order:2}





}
@media (min-width: 1200px) {
	.container{width: 1170px;}

}
@media (min-width: 1400px) {
	.container{width: 1370px;}
}
@media (min-width: 1600px) {
	.container{width: 1440px;}
	.about-text{max-width: 83%;}
	.ins-section:before{
		background: url(../img/ins-section-before.png) 0 0 no-repeat;
		left: 4.3%;
		top: -32%;
		width: 113px;
		height: 317px;
	}
	.ins-section:after{
		background: url(../img/ins-section-after.png) 0 0 no-repeat;
		right: -7px;
		top: -10%;
		width: 494px;
		height: 257px;
	}





}
@media (min-width: 1900px){
	.catalogue-left, .catalogue-right{
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.catalogue-left:before, .catalogue-left:after, .catalogue-right:before, .catalogue-right:after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
	}
	.catalogue-left{left: 0;}
	.catalogue-right{right: 0;}
	.catalogue-left:before{
		background: url(../img/catalogue-left-before.png) 0 0 no-repeat;
		left: -9px;
		top: 17%;
		width: 259px;
		height: 834px;
	}
	.catalogue-left:after{
		background: url(../img/catalogue-left-after.png) 0 0 no-repeat;
		left: 76px;
		bottom: 22%;
		width: 208px;
		height: 213px;
	}
	.catalogue-right:before{
		background: url(../img/catalogue-right-before.png) 0 0 no-repeat;
		right: -8px;
		top: 20.8%;
		width: 138px;
		height: 945px;
	}
	.catalogue-right:after{
		background: url(../img/catalogue-right-after.png) 0 0 no-repeat;
		bottom: 37%;
		right: 112px;
		width: 203px;
		height: 127px;
	}
}

@media (max-width: 1399px) {
	header .d-flex, footer .d-flex{flex-wrap: wrap;}
	nav{
		order: 2;
		margin: 0;
		width: 100%;
	}
	.navbar-nav{justify-content: center;}


}
@media (max-width: 1199px) {
	.contacts-item{padding-left: 5rem!important;}
	.contacts-item .i-map{left: 1rem;}

}
@media (max-width: 991px) {
	.natural:after{bottom: 5rem;}
	.gallery-list{grid-gap: 10px}
	.title {
		font-size: 6rem;
		line-height: 6.5rem;
	}

}
@media (max-width: 767px) {
	.item-block-name{padding: 3rem 2rem;}
	.title-md {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	.natural:after{display: none;}
	header .btn, footer .btn{
		margin-top: 0;
		width: auto;
		padding: 1rem 3rem;
	}
	.navbar-nav{
		display: block;
		text-align: center;
		padding-top: 1rem;
	}


}
@media (max-width:575px){
	.title{
		font-size: 3.8rem;
		line-height: 4.6rem;
	}
	.about .title{margin-bottom: 3rem;}
	.gallery-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.gallery-list .zoom-link{
		width: 48%;
		margin-bottom: 1rem;
		height: 25rem;
	}
	header .btn{display: none;}
	footer .btn{margin: 0;}
	footer .d-flex{
		justify-content: center;
		flex-direction: column;
	}
	.logo{
		max-width: 70%;
		margin: 0 auto 0 0;
	}
	footer .logo{margin: 0 auto 1.5rem;}
	.address{
		width: 100%;
		position: relative;
		right: auto;
		top: auto;
		margin-bottom: 2rem;
	}
	.address>a{width: 100%;}
	#map{
		height: 400px;
		overflow: hidden;
	}
	.contacts-item{
		font-size: 2.2rem;
		line-height: 3rem;
	}

}





@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
